header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4.5rem;
  padding: 0 3rem;
  background-color: var(--clr-dark);
  color: var(--clr-white);

  .logo_section {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
