<app-header></app-header>

<div class="filters">
  <div class="date-filter-container">
    <h4>Filtrar por rango de fechas de fundación</h4>
    <form
      [formGroup]="filtersForm"
      #filtersFormRef="ngForm"
      class="date-filter-container_dates"
      (ngSubmit)="filterListByDates(filtersForm)"
    >
      <div class="date-container">
        <label for="#fechaInicio">Fecha inicial</label>
        <input type="date" id="fechaInicio" formControlName="fechaInicio" />
      </div>
      <div class="date-container">
        <label for="#fechaFin">Fecha final</label>
        <input type="date" id="fechaFin" formControlName="fechaFin" />
      </div>
      <button
        [disabled]="filtersForm.invalid"
        [class.disabled]="filtersForm.invalid"
        type="submit"
        style="margin-left: 0.2rem"
      >
        Filtrar
      </button>
      <button
        [disabled]="filtersForm.invalid"
        [class.disabled]="filtersForm.invalid"
        type="button"
        style="margin-left: 0.2rem"
        (click)="refreshList()"
      >
        Restablecer
      </button>
    </form>
  </div>

  <button type="button" (click)="openCreateTeamPanel = true">
    Añadir equipo
  </button>
</div>

<div class="controls-container">
  <pagination-controls
    class="upper"
    (pageChange)="page = $event"
    previousLabel="Anterior"
    nextLabel="Siguiente"
  ></pagination-controls>
</div>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Estadio</th>
        <th>Sitio web</th>
        <th>Nacionalidad</th>
        <th>Fundación</th>
        <th>Entrenador</th>
        <th>Capacidad</th>
        <th>Valor</th>
        <th>edit./elim.</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let team of teams | paginate : { itemsPerPage: 15, currentPage: page }
        "
        (click)="setTeamDetail(team.id!)"
      >
        <td>
          {{ team.nombre }}
        </td>
        <td>
          {{ team.estadio }}
        </td>
        <td>
          {{ team.sitioWeb }}
        </td>
        <td>
          {{ team.nacionalidad }}
        </td>
        <td>
          {{ team.fundacion }}
        </td>
        <td>
          {{ team.entrenador }}
        </td>
        <td>
          {{ team.capacidad }}
        </td>
        <td>
          {{ team.valor }}
        </td>
        <td>
          <div class="icons-box" style="display: flex">
            <div
              class="icons-box_icon"
              (click)="setEditTeamForm(team.id!, $event)"
            >
              <span class="material-symbols-outlined"> edit </span>
            </div>
            <div class="icons-box_icon" (click)="deleteTeam(team.id!, $event)">
              <span class="material-symbols-outlined"> delete </span>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="controls-container">
  <pagination-controls
    (pageChange)="page = $event"
    previousLabel="Anterior"
    nextLabel="Siguiente"
  ></pagination-controls>
</div>

<div class="product-detail-container" *ngIf="teamDetail">
  <div class="product-detail-container_panel">
    <div class="close-icon" (click)="closeDetailPanel()">
      <span class="material-symbols-outlined"> close </span>
    </div>
    <article class="product-detail-container_panel_details">
      <h1 class="product-detail-container_panel_details_nombre">
        {{ teamDetail.nombre }}
      </h1>
      <p><strong>Estadio:</strong> {{ teamDetail.estadio }}</p>
      <p><strong>Sitio web:</strong> {{ teamDetail.sitioWeb }}</p>
      <p><strong>Nacionalidad:</strong> {{ teamDetail.nacionalidad }}</p>
      <p><strong>Fundación:</strong> {{ teamDetail.fundacion }}</p>
      <p><strong>Entrenador:</strong> {{ teamDetail.entrenador }}</p>
      <p><strong>Capacidad:</strong> {{ teamDetail.capacidad }}</p>
      <p><strong>Valor:</strong> {{ teamDetail.valor | currency : "EUR" }}</p>
    </article>
  </div>
</div>

<div class="product-create-container" *ngIf="openCreateTeamPanel">
  <form
    class="product-create-container_form"
    [formGroup]="createTeamForm"
    (ngSubmit)="createTeam(createTeamForm)"
    #createTeamFormRef="ngForm"
  >
    <div class="close-icon" (click)="closeCreatePanel()">
      <span class="material-symbols-outlined"> close </span>
    </div>
    <h2>Crear nuevo equipo</h2>
    <div class="product-create-container_form_input-container">
      <label for="#nombre">Nombre</label>
      <input type="text" id="nombre" formControlName="nombre" />
    </div>
    <div class="product-create-container_form_input-container">
      <label for="#estadio">Estadio</label>
      <input type="text" id="estadio" formControlName="estadio" />
    </div>
    <div class="product-create-container_form_input-container">
      <label for="#sitioWeb">Sitio web</label>
      <input type="text" id="sitioWeb" formControlName="sitioWeb" />
    </div>
    <div class="product-create-container_form_input-container">
      <label for="#nacionalidad">Nacionalidad</label>
      <input type="text" id="nacionalidad" formControlName="nacionalidad" />
    </div>
    <div class="product-create-container_form_input-container">
      <label for="#fundacion">Fundación</label>
      <input type="date" id="fundacion" formControlName="fundacion" />
    </div>
    <div class="product-create-container_form_input-container">
      <label for="#entrenador">Entrenador</label>
      <input type="text" id="entrenador" formControlName="entrenador" />
    </div>
    <div class="product-create-container_form_input-container">
      <label for="#capacidad">Capacidad</label>
      <input type="number" id="capacidad" formControlName="capacidad" />
    </div>
    <div class="product-create-container_form_input-container">
      <label for="#valor">Valor</label>
      <input type="number" id="valor" formControlName="valor" />
    </div>
    <button
      [disabled]="createTeamForm.invalid"
      [class.disabled]="createTeamForm.invalid"
      class="send-button"
      type="submit"
    >
      Crear
    </button>
  </form>
</div>

<div class="product-edit-container" *ngIf="openEditTeamPanel">
  <form
    class="product-edit-container_form"
    [formGroup]="editTeamForm"
    (ngSubmit)="editTeam(editTeamForm)"
    #editTeamFormRef="ngForm"
  >
    <div class="close-icon" (click)="closeEditPanel()">
      <span class="material-symbols-outlined"> close </span>
    </div>
    <h2>Editar información del equipo</h2>
    <div class="product-edit-container_form_input-container">
      <label for="#nombre">Nombre</label>
      <input type="text" id="nombre" formControlName="nombre" />
    </div>
    <div class="product-edit-container_form_input-container">
      <label for="#estadio">Estadio</label>
      <input type="text" id="estadio" formControlName="estadio" />
    </div>
    <div class="product-edit-container_form_input-container">
      <label for="#sitioWeb">Sitio web</label>
      <input type="text" id="sitioWeb" formControlName="sitioWeb" />
    </div>
    <div class="product-edit-container_form_input-container">
      <label for="#nacionalidad">Nacionalidad</label>
      <input type="text" id="nacionalidad" formControlName="nacionalidad" />
    </div>
    <div class="product-edit-container_form_input-container">
      <label for="#fundacion">Fundación</label>
      <input type="date" id="fundacion" formControlName="fundacion" />
    </div>
    <div class="product-edit-container_form_input-container">
      <label for="#entrenador">Entrenador</label>
      <input type="text" id="entrenador" formControlName="entrenador" />
    </div>
    <div class="product-edit-container_form_input-container">
      <label for="#capacidad">Capacidad</label>
      <input type="number" id="capacidad" formControlName="capacidad" />
    </div>
    <div class="product-edit-container_form_input-container">
      <label for="#valor">Valor</label>
      <input type="number" id="valor" formControlName="valor" />
    </div>
    <button [disabled]="editTeamForm.invalid" class="send-button" type="submit">
      Editar
    </button>
  </form>
</div>
